<div class="container">



  <div class="circle"></div>
  <%= @issue.name %>

<ul>
<% @politicians.each do |politician| %>
  <li> <%= link_to "#{politician.name}", interest_path(@issue, :politician_id => politician.id)  %> </li>
<% end %>
</ul>

</div>

