<div class="container">



  <div class="circle"></div>
  <%= @issue.name %>

<ul class="unstyled-list">
<% @politicians.each do |politician| %>
    <li><%= link_to image_tag(politician.image, class: "politician-image"), interest_path(@issue, :politician_id => politician.id) %><%= politician.name %></li>



<% end %>

</ul>

</div>

