<h1> <%= @issue.name %>  </h1>


<h2> Key Politicians: </h2>

<ul>
<% @politicians.each do |politician| %>
  <li> <%= link_to "#{politician.name}", interest_path(@issue, :politician_id => politician.id)  %> </li>
<% end %>
</ul>
