<%= form_tag legislators_path, :class => "legis-search", :method => 'get' do %>
   <p>
     <%= text_field_tag :search, params[:search], class: "search-form", placeholder: "Legislators" %>
     <button type="button"><%= submit_tag "search", :name => nil, :class => "btn btn-secondary btn-responsive" %></button>
   </p>
 <% end %>
