

  <div id="homepage-tab" class="container">
    <div class='row'>
      <div class='col-xs-12 homepage'>

      <h1>flip flop</h1>
      <p>this is a description of the site in just a few words. we don't want our users to have to read a lot but they should know what the site is about.</p>

        <ul class="nav nav-pills">

          <li class="active">
            <a href="#1b" data-toggle="tab">people</a>
          </li>
          <li><a href="#2b" data-toggle="tab">issues</a>
          </li>
        </ul>

          <div class="tab-content clearfix">

            <div class="tab-pane active" id="1b">
              <h4>trending keywords from your legislators or candidates</h4>
               <div id="rectangle"></div>

                <h5 class="center-text">look up a legislator or candidate</h5>
                    <div id="search-bar-placeholder"></div>

              <div class='row homepage-row'>

                <div class='col-xs-6 center-text'>see what they're saying on twitter
                  <div id="circle"></div>
                </div>

                <div class='col-xs-6 center-text'>see what bills they voted for
                  <div id="circle"></div>
                </div>

              </div>
            </div>

            <div class="tab-pane" id="2b">

              <div class='row homepage-row'>

                <div class='col-xs-6'>see what they're saying on
                  <div id="circle"></div>
                  <div id="circle"></div>
                  <div id="circle"></div>
                </div>

                <div class='col-xs-6'>Second Tab, Col Right
                  <div id="circle"></div>
                  <div id="circle"></div>
                  <div id="circle"></div>
                </div>

              </div>
            </div>
          </div>
        </div>

    </div>
  </div>