/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#homepage-tab .nav-pills > li > a {
  border-radius: 4px 4px 0 0;
}

#homepage-tab .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#circle {
  width: 100px;
  height: 100px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

#rectangle {
  width: 315px;
  height: 150px;
  background: grey;
  margin-bottom: 10px;
}

#search-bar-placeholder {
  width: 315px;
  height: 40px;
  background: lightgrey;
  margin-bottom: 10px;
}


.center-text {
  text-align: center;
}

#footer {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 9px;
}