// Place all the styles related to the Interest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.politician-twitter-profile-info {
  margin-left: 5%;
}

.politican-tweet-issue-text {
  border-bottom: 1px solid grey;
}

.individual-tweet {
  border-top: 1px solid #55acee;
  border-bottom: 1px solid #55acee;
  padding: 5%;
}

.twitter-logo {
  width: 20px;
}

.tweets-by {
  color: #55acee;
  font-style: bold;
  font-size: 18px;
  display: block;
  text-align: center;
  margin-top: 3%;
}

.tweet-container {
  border-left: 1px solid #55acee;
  border-right: 1px solid #55acee;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #ccd6dd;
}

.politician-tweet-image {
  width: 50px;
  float: left;
  margin-right: 2%;
}

.tweet-timestamp {
 font-style: italic;
 font-size: 14px; 
 color: #55acee;
}