// Place all the styles related to the Issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'https://fonts.googleapis.com/css?family=Fjalla+One|News+Cycle:400,700&subset=latin-ext';

.issues-show-subheading-container {
  border-bottom: 1px solid #432c6f;  
  padding-bottom: 5%;
}

.issue-index-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.issue-index-icon {
  width: 50%;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.issues-show-issue-icon-header {
  width: 100%;
}

#select-politician-issue {
  text-align: center;
  color: #432c6f;
  font-size: 20px;
  font-weight: bold;
  margin-left: -2%;
  margin-right: -2%;
  padding-bottom: 3%;
  text-align: left;
  margin-top: 10%;
}

.issues-show-politician-list-container {
  font-size: 22px;
  margin-left: 2%;
  padding-top: 1%;
}

.issues-show-politician-list-text {
  margin-top: 3.5%;
}

