// Place all the styles related to the Legislators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.legislator-name-link-text {
  font-family: 'Fjalla One', sans-serif;
  font-size: 16px;
}

.legislator-index-container {
  margin-left: 2%;
  margin-right: 2%;
}

#legislator-index-sub-heading-text {
  font-size: 20px;
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
}


.legislator-show-bar-chart-container div{
  height: 50px;
  background-color: #432C6F;
  color: black;
  margin-bottom: 6%;
  margin-left: 3%;
  padding-left: 3%;
  width: 90%;
  position:relative;
  opacity: 0.5;
  top:0; 
  bottom:0;
  left:0;
  -webkit-animation: filler 1.5s ease-in-out;
  -moz-animation: filler 1.5s ease-in-out;
  animation: filler 1.5s ease-in-out;
}

.vote-info-text {
  font-size: 20px;
  padding: 15px;

}
  


