// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'https://fonts.googleapis.com/css?family=Fjalla+One|News+Cycle:400,700&subset=latin-ext';

.homepage-container {
  margin-bottom: 8%;
}

#homepage-tab {
  height: 100%;
}

#homepage-tab .nav-pills > li > a {
  border-radius: 4px 4px 0 0;
}

#homepage-tab .tab-content {
  color: white;
  background-color: #432c6f;
  padding : 5px 15px;
  -webkit-box-shadow: 10px 10px 10px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 10px -8px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 10px -8px rgba(0,0,0,0.75);
}

.homepage-header {
  margin-top: -6%;
  margin-bottom: 4%;
}

.homepage-header-text {
  text-align: right;
  color: #432c6f;
}

#tagline-text {
  font-family: 'Fjalla One', sans-serif;
  font-size: 16px;
  margin-top: 5%;
  margin-right: 10%;
  margin-bottom: -10%;
  padding: -10%;
  text-align: right;
}

#homepage-title-text {
  font-family: 'Fjalla One', sans-serif;
  font-size: 40px;
}

.homepage-logo-container {
  margin-top: -8%;
  margin-bottom: -10%;
}

.logo-image {
  width: 100%;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222); 
}


.tab-text {
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
}

#homepage-tab-image-title {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  font-size: 17px;
  letter-spacing: 0.75px;
}

.homepage-tab-content {
  height: 100%;
}

.tab-pane {
  margin-top: 5%;
  margin-bottom: 8%;
  margin-left: 3%;
  margin-right: 3%;
}

#search-header-text {
  font-size: 18px;
  letter-spacing: 0.5px;
}

#home-search-bar-div {
  margin-left: 5%;
  margin-right: 5%;
  color: #432c6f;
}

.homepage-issue-icon-header-congress {
  width: 100%;
  margin-top: 3%;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222); 
}

.homepage-issue-icon-header-twitter {
  width: 100%;
  margin-top: 3%;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.congress-issue-icon-container-row-one {
  padding-top: 5%;
  padding-bottom: 3%;
  margin-bottom: 5%;
  border-bottom: 1px solid #dbdbdb;
}

.homepage-issue-congress-icon-row-one {
  margin-top: 3%;
  width: 60%;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222); 
}


.congress-issue-icon-container-row-two {
  margin-bottom: 5%;
}

.homepage-issue-congress-icon-row-two {
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222); 
}

.homepage-issue-congress-icon-row-three {
  width: 100%;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222); 
}

.homepage-twitter-issue-icon-container {
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 2%;
  padding-right: 2%;
  
}

.homepage-issue-twitter-icon {
  width: 100%;
   padding-top: 3%;
  padding-bottom: 3%;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}


.issues-tab-heading-text {
  font-size: 20px;
  text-align: left;
}

.search-form {
  width: 60%;
  height: 36px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.search-form:focus {
  border-color: #432c6f;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.search-form::-moz-placeholder {
  color: #432c6f;
  opacity: 1;
}
.search-form:-ms-input-placeholder {
  color: #dbdbdb;
}
.search-form::-webkit-input-placeholder {
  color: #dbdbdb;
}
.search-form[disabled],
.search-form[readonly],
fieldset[disabled] .search-form {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}


.underline-text {
  border-bottom: 1px solid black;
}

.about-list-items {
  margin-left: 5%;
}

.about-blurb {
  margin-left: 5%;
  margin-right: 5%;
}

.about-blurb-note {
  font-size: 14px;
  font-style: italic;
}




