// Place all the styles related to the Politician controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'https://fonts.googleapis.com/css?family=Fjalla+One|News+Cycle:400,700&subset=latin-ext';


.politician-image {
  height: 100px;  
  padding: 3%;
  margin-left: 5%;
}

.issue-image {
  height: 100px;  
  padding: 3%;
  margin-right: 10%;
}

.politician-name {
  font-size: 20px;
}

.politician-show-graph-header {
  border-bottom: 1px solid #432c6f;
  text-align: center;
  margin-top: 2%;
  color: #432c6f;
}

.politician-show-graph-container {
  margin-top: 0%;
}

#number-of-tweets-text {
  font-size: 22px;
}

#click-to-view-tweets-text {
  margin-top: -5%;
  font-size: 18px;
}



.politicians-index-list-container {
  font-size: 22px;
  margin-left: 2%;
  padding-top: 5%;

}

.politician-show-politician-list-text {
  margin-top: 7%;
}


.politician-show-icon-column {
  margin-top: 2%;
}

.ajax-twitter-search-result-container {
  margin-top: 3%;
  margin-left: 7%;
}



