// Place all the styles related to the Politician controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'https://fonts.googleapis.com/css?family=Fjalla+One|News+Cycle:400,700&subset=latin-ext';

.politician-image {
  height: 15vh;  
  padding: 3%;
  margin-left: 5%;
  margin-right: 5%;
}

.politician-image-large {
  height: 20vh;  
  padding: 3%;
}

.politician-profile-header-text {
}

h3.twitter-profile-content {
  font-size: 5vh;
}

h4.twitter-profile-content {
  font-size: 3.5vh;
}

h5.twitter-profile-content {
  font-size: 2.5vh;
}

.twitter-profile-content {
  margin: 0;
}

.issue-image {
  height: 20vh;  
  padding: 3%;
  margin-right: 1vh;
}

.politician-name {
  font-size: 20px;
}

.politician-profile {
  margin-bottom: 5%;
}

.number-of-tweets-text {
  font-size: 22px;
  color: #432C6F;
  font-weight: bold;
  border-top: 1px solid #432C6F;
  border-bottom: 1px solid #432C6F;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  margin-bottom: 4%;
}

#click-to-view-tweets-text {
  margin-top: -5%;
  font-size: 18px;
}

.flexbox-practise {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.politician-twitter-list {
  font-size: 3vh;
  margin-left: 2%;
  padding-top: 1%;
}

.politician-show-politician-list-text {
  margin-top: 4%;
}

.politician-show-icon-column {
  margin-bottom: 4vmin;
}


.ajax-twitter-search-result-container {
  margin-top: 3%;
  margin-left: 7%;
}

.politician-show-icon-image {
  display: flex;
  height: 15vmin;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

#politician-show-chart div {
    color: #b0e0e6;
    font-size: 8vmin;
    width: 15vmin;
    margin-bottom: 4vmin;
    margin-left: 3%;
    padding-left: 3%;
    position:relative;
    -webkit-text-fill-color: black !important;    
}

#politician-show-chart div:hover {
  color: #b3b3b3;
}

#politician-show-chart div {
  height: 15vmin;
}



/*Load bar CSS*/

#politician-show-chart div:after {
    content:'\A';
    position:absolute;
    /*background:blue;*/
    background: #432C6F;
    opacity: 0.5;
    top:0; 
    bottom:0;
    left:0;
    width:50%;
    -webkit-animation: filler 1.5s ease-in-out;
    -moz-animation: filler 1.5s ease-in-out;
    animation: filler 1.5s ease-in-out;
}

@-webkit-keyframes filler {
    0% {
        width:0;
    }
}
@-moz-keyframes filler {
    0% {
        width:0;
    }
}
@keyframes filler {
    0% {
        width:0;
    }
}

.politician-twitter-container {
  display: inline-block; 
  width: 23vh;
  height: 23vh;
  margin: 1vh;
  text-align: center;
}

